/* Configurações globais */
:root
{
    --title-color: #322153;
    --primari-color: #34cb79;
    --input-color: #f0f0f5;
    --p-color: #6C6C80;
}

*
{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html
{
    font-family: Roboto, sans-serif;
}

body
{
    background: #f0f0f5 ;
    -webkit-font-smoothing: antialiased;
}

a
{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    color: var( --title-color);
    font-family: Ubuntu, sans-serif;
}

/* Quando passa o mouse em cima, para selecionar muda de cor */

::selection
{
    background-color: #6a61cc;
    color: white;
}


